header{
    position: sticky;
    text-align: center;
}
body{
    background: gray;
    width: 70%;
    margin: 0px auto;
    
}
h1{
    color: #1793d1;
    text-align: center;
}
p{
    color: white;
}
